<table cellpadding="0" cellspacing="0" style="font-size: small; font-family: Verdana,serif;"
       class="table__StyledTable-sc-1avdl6r-0 kAbRZI">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" style="font-size: small; font-family: Verdana,serif;"
                   class="table__StyledTable-sc-1avdl6r-0 kAbRZI">
                <tbody>
                <tr>
                    <td width="150" style="vertical-align: middle;"><span style="margin-right: 20px; display: block;"
                                                                          class="template3__ImageContainer-sc-vj949k-0 jeScQV"><img
                            src="https://cabosat.net/img/logo-cabosat.png" role="presentation" style="max-width: 130px;"
                            width="130" class="image__StyledImage-sc-hupvqm-0 gYgOut"></span></td>
                    <td style="vertical-align: middle;"><h2 color="#000000"
                                                            style="margin: 0px; font-size: 16px; color: rgb(0, 0, 0); font-weight: 600;"
                                                            class="name__NameContainer-sc-1m457h3-0 jxbGUj">
                        <span>Mark</span><span>&nbsp;</span><span>Binkley</span></h2>
                        <p color="#000000" font-size="large"
                           style="margin: 0px; color: rgb(0, 0, 0); font-size: 12px; line-height: 20px;"
                           class="job-title__Container-sc-1hmtp73-0 ifJNJc"><span>Founder</span></p>
                        <p color="#000000" font-size="large"
                           style="margin: 0px; font-weight: 500; color: rgb(0, 0, 0); font-size: 12px; line-height: 20px;"
                           class="company-details__CompanyContainer-sc-j5pyy8-0 VnOLK"><span>Administration</span><span>&nbsp;|&nbsp;</span><span>CaboSat</span>
                        </p></td>
                    <td width="30">
                        <div style="width: 30px;"></div>
                    </td>
                    <td color="#443F73" direction="vertical" width="1" height="auto"
                        style="width: 1px; border-bottom: medium; border-left: 1px solid rgb(68, 63, 115);"
                        class="color-divider__Divider-sc-1h38qjv-0 llIisW"></td>
                    <td width="30">
                        <div style="width: 30px;"></div>
                    </td>
                    <td style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" style="font-size: small; font-family: Verdana,serif;"
                               class="table__StyledTable-sc-1avdl6r-0 kAbRZI">
                            <tbody>
                            <tr style="vertical-align: middle;" height="25">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0"
                                           style="font-size: small; font-family: Verdana,serif;"
                                           class="table__StyledTable-sc-1avdl6r-0 kAbRZI">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span color="#443F73" width="11"
                                                                                      style="display: inline-block; background-color: rgb(68, 63, 115);"
                                                                                      class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"><img
                                                    src="https://cabosat.net/img/phone-icon-2x.png"
                                                    color="#443F73" alt="mobilePhone" width="13"
                                                    style="display: block; background-color: rgb(68, 63, 115);"
                                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px; color: rgb(0, 0, 0);"><a href="tel:+19707784572"
                                                                                  color="#000000"
                                                                                  style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"
                                                                                  class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"><span>+1 9707784572</span></a>
                                    | <a href="tel:+526243553782" color="#000000"
                                         style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"
                                         class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"><span>+52 6243553782</span></a>
                                </td>
                            </tr>
                            <tr style="vertical-align: middle;" height="25">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0"
                                           style="font-size: small; font-family: Verdana,serif;"
                                           class="table__StyledTable-sc-1avdl6r-0 kAbRZI">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span color="#443F73" width="11"
                                                                                      style="display: inline-block; background-color: rgb(68, 63, 115);"
                                                                                      class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"><img
                                                    src="https://cabosat.net/img/email-icon-2x.png"
                                                    color="#443F73" alt="emailAddress" width="13"
                                                    style="display: block; background-color: rgb(68, 63, 115);"
                                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px;"><a href="mailto:mark@cabosat.net" color="#000000"
                                                             style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"
                                                             class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"><span>mark@cabosat.net</span></a>
                                </td>
                            </tr>
                            <tr style="vertical-align: middle;" height="25">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0"
                                           style="font-size: small; font-family: Verdana,serif;"
                                           class="table__StyledTable-sc-1avdl6r-0 kAbRZI">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span color="#443F73" width="11"
                                                                                      style="display: inline-block; background-color: rgb(68, 63, 115);"
                                                                                      class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"><img
                                                    src="https://cabosat.net/img/link-icon-2x.png"
                                                    color="#443F73" alt="website" width="13"
                                                    style="display: block; background-color: rgb(68, 63, 115);"
                                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px;"><a href="https://cabosat.net" color="#000000"
                                                             style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"
                                                             class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"><span>cabosat.net</span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    </tbody>
</table>